#heading{
    background-color: orange;
    padding: 0;
    text-align: center;
    font-weight: bold;
    font-size: 3em;
}
#container article{
    padding-left: 40px;
}
h1 {
    text-align: center;
    font-size: 2em;
    margin: 10px;
}

h2 {
    margin-bottom: 0;
}

p {
    margin-top: 5px;
}

ul {
    padding-left: 5px;
    list-style-type: none;
    margin-top: 5px;
}

#container li {
    font-weight: bold;
    font-style: italic;
}

@media only screen and (max-width: 1260px) and (min-width: 741px) {


    #container {
        width: 60%;
    }
}
@media only screen and (max-width: 500px) {


    #container article{
        text-align: justify;
        padding-right: 1em;
        padding-left: 1em;
    }
}
@media only screen and (max-width: 740px) {


    #container {
        width: 80%;
        margin: 0 0 0 10px;
    }
}
@media only screen and (max-width: 330px) {


    div#container #heading {
        font-size: 1.5em;
    }
}
