input, textarea, select {
    display: block;
    width: 200px;
    height: 30px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 10px 0;

}

label {
    float: left;
    width: 250px;
    height: 30px;
    line-height: 30px;
}

input[type="checkbox"] {
    float: left;
    width: auto;
    height: auto;
}

form {
    width: 500px;
    margin: 0 auto;
}

legend {
    text-transform: uppercase;
    font-weight: bold;
}

fieldset {
    margin: 20px 0;
}

label[for="stupid"] {
    text-align: right;
    padding-right: 10px;
}

label[for="agree-terms"] {
    margin-left: 5px;
}

textarea {
    resize: vertical;
    text-align:left;
}

input[type="submit"] {
    margin: 20px auto;
    font-weight: bold;
    font-size: 1.2em;
    padding: 20px;
    width: auto;
    height: auto;
	border-radius: 10px;
	background-color: orange;
}

input[type="submit"]:hover {
	background-color: #722D00;
	color: white;
	cursor: pointer;
}


@media only screen and (max-width: 575px) {
	fieldset {
		width: 310px;		
	}
	label, input, select, textarea {		
		width: 300px;
	}	
	
	label[for="stupid"] {
		text-align: left;
	}
	
	form {
		margin-left: 10px;
	}
	
	label[for="agree-terms"] {
		display: inline-block;
		width: auto;
	}
	
	input[type="submit"] {
		margin: 10px;
	}
}