section {
    width: 50%;
    margin: 10px auto;
    border-radius: 10px;
    border: 1px solid black;
    padding: 20px;	
	background-color: white;
}

    h1 {
        text-align: center;
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {        
        font-style: italic;
    }