#container{
    padding-left: 3%;
    background-image: url("../images/the-old-farm-hd-wallpaper-1280x800.jpeg");
    background-size: 100%;
    height: 100%;
    background-repeat: no-repeat;
    display: flex;
    vertical-align: bottom;
    padding-top: 20%;
}
#fil{
    background-image: url("../images/Filplashilo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 17%;
    height: 25em;
    position: relative; 
}
#fil:hover{
    background-image: url("../images/FilHoover.png");
    background-size: 99%;
    width: 25%;
    height: 25em;
}
#ivan{
    background-image: url("../images/ivanplashilo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 17%;
    height: 25em;
    position: relative;
    left: 5%;
}
#ivan:hover{
    background-image: url("../images/hooverIvan.png");
    background-size: 99%;
    width: 25%;
    height: 25em;
}
#kristiqn{
    background-image: url("../images/kristiqnplashilo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 17%;
    height: 25em;
    position:  relative;
    left: 15%;
}
#kristiqn:hover {
    background-image: url("../images/kristiqnHoover.png");
    background-size: 99%;
    width: 25%;
    height: 25em;
}
#georgi{
    background-image: url("../images/Georgiplashilo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 17%;
    height: 25em;
    position: relative;
    left: 24%;
}
#georgi:hover {
    background-image: url("../images/georgiHoover.png");
    background-size: 99%;
    width: 25%;
    height: 25em;
}
