
div#container > header {
    background-color: orange;
    padding: 0;
    text-align: center;
    font-weight: bold;
    font-size: 3em;
}
#gallery-content{
	display: inline-block;
	width: 50%;
	float: right;
	font-size: 1.5em;
}
@media only screen and (max-width: 1800px) and (min-width: 1731px) {
	#gallery-content{
		width: 45%;
	}
}
@media only screen and (max-width: 1730px) and (min-width:  1503px) {
	#gallery-content{
		width: 40%;
	}
}
@media only screen and (max-width: 1502px) {
	#gallery-content{
		text-align: justify;
		margin-bottom: 1em;
		width: 100%;
		display: block;
		float: none;
	}
	#slider1_container{;
		max-width: 100%;
		vertical-align: middle;

	}
}