
.news_header {
    background-color: orange;
    text-align: center;
    font-weight: bold;
    font-size: 3em ;
}

hr {
    color: white;
}

body div article {
    background-color: rgb(239, 214, 67);
    width: 360px;
    height: 360px;
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    box-shadow: 10px 10px rgba(144, 131, 54,0.6);
}

body div article.seminar {
    margin-left: 20px;
}

body div article h3 {
    text-align: center;
}

body div article h3 a {
    color: black;
    text-decoration: none;
    text-align: center;
}

body div article a {
    text-decoration: none;
    color: black;
}
    /****LINES****/
.first_line article, .sec_line article, .third_line article {
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    margin-left: 15px;
}

    /***TEXT***/

.seminar_aside {
    padding-top: 20px;
}

    /***IMAGES***/
.article_image img {
    width: 180px;
    height: 180px;
    border: 2px solid black;
    float: left;
    margin-top: 10px;
}


.topstudents_image img {
    width: 210px;
    height: 210px;
    border: 2px solid black;
}

.selqnin_image img {
    width: 200px;
    height: 200px;
    border: 2px solid black;
}

.adidas_image img {
     width: 200px;
    height: 200px;
    border: 2px solid black;
}



video {
    width: 360px;
    height: 245px;
}

article.rakiq div.bottom_text {
    margin-top: 50px;
}

article.rakiq div.aside_text {
    padding-top: 10px;
}

/*article.seminar div.aside_text {
    padding-top: 20px;
}


article.seminar div.bottom_text {
    margin-top: 35px;
}*/




