body {
}

#container header {
    font-size: 3em;
    font-weight: bold;
    background-color: orange;
    text-align: center;
}

.collection_conteiner {
    width: 75%;
    margin: 0 auto;
}

figure img {
    width: 200px;
    height: 200px;
    border: 2px solid #000000;
}

figure.logo {
    float: left;
    margin-top: 10px;
}

    figure.logo img {
        width: 300px;
        margin-top: 23px;
    }

.img_container1 figure {
    display: inline-block;
}

.img_container2 figure {
    display: inline-block;
}

h3 {
    text-align: center;
    font-size: 1.5em;
}

.text {
    font-size: 1.2em;
    padding: 10px;
}

#center_text {
    text-align: center;
    font-weight: bold;
}

/***Gallery***/

.colle
.hovergallery{
    border:  2px solid darkslategray;
    display: inline-block;
}

.hovergallery img{
    width: 200px;
    height: 145px;
}

.hovergallery img{
    -webkit-transform:scale(0.8); /*Webkit: Scale down image to 0.8x original size*/
    -moz-transform:scale(0.8); /*Mozilla scale version*/
    -o-transform:scale(0.8); /*Opera scale version*/
    -webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/
    -moz-transition-duration: 0.5s; /*Mozilla duration version*/
    -o-transition-duration: 0.5s; /*Opera duration version*/
    opacity: 0.7; /*initial opacity of images*/
    margin: 0 5px 5px 0; /*margin between images*/
}

.hovergallery img:hover{
    -webkit-transform:scale(1.1); /*Webkit: Scale up image to 1.2x original size*/
    -moz-transform:scale(1.1); /*Mozilla scale version*/
    -o-transform:scale(1.1); /*Opera scale version*/
    box-shadow:0px 0px 30px gray; /*CSS3 shadow: 30px blurred shadow all around image*/
    -webkit-box-shadow:0px 0px 30px gray; /*Safari shadow version*/
    -moz-box-shadow:0px 0px 30px gray; /*Mozilla shadow version*/
    opacity: 1;
}
@media only screen and (max-width: 410px){
    figure > img{
        max-width: 100%;
    }
    #container{
        text-align: justify;
    }

}