#container header {
    font-size: 3em;
    font-weight: bold;
    background-color: orange;
    text-align: center;
}

.collection_conteiner {
    width: 75%;
    margin: 0 auto;
}

figure img {
    width: 200px;
    height: 200px;
    border: 2px solid #000000;
}

figure.logo {
    float: left;
    margin-top: 10px;
}

    figure.logo img {
        width: 300px;
        margin-top: 23px;
    }

.img_container1 figure {
    display: inline-block;
}

.img_container2 figure {
    display: inline-block;
}

h3 {
    text-align: center;
    font-size: 1.5em;
}

.text {
    font-size: 1.2em;
    padding: 10px;
}

#center_text {
    text-align: center;
    font-weight: bold;
}

/***Gallery***/

.colle
.hovergallery{
    border:  2px solid darkslategray;
    display: inline-block;
}

.hovergallery img{
    width: 200px;
    height: 145px;
}

.hovergallery img{
    -webkit-transform:scale(0.8);
    -moz-transform:scale(0.8);
    -o-transform:scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    opacity: 0.7;
    margin: 0 5px 5px 0;
}

.hovergallery img:hover{
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -o-transform:scale(1.1);
    box-shadow:0px 0px 30px gray;
    -webkit-box-shadow:0px 0px 30px gray;
    -moz-box-shadow:0px 0px 30px gray;
    opacity: 1;
}
@media only screen and (max-width: 410px){
    figure > img{
        max-width: 100%;
    }
    #container{
        text-align: justify;
    }

}