div#container > header {
    color: white;
    background-color: orange;
    height: 7%;
    font-size: 2.5em; 
    padding: 10px;
    text-align: center;
}
#partner-content{
    height: 723px;
    border: 1px solid red;
}
div#tor > header{
    display: inline-block;
    width: 30%;
    height: 5%;
    font-size: 2em;
    color: white;
    padding: 5px;
    background-color: #722d00;
}
#poo{
    float: left;
    width: 35px;
    height: 35px;
    margin-right: 10px;
}