#container {
	height: 2000px;
}	

    figure {
        float: left;
    }

       figcaption {
           font-size: 1.2em;
           text-align: center;
           font-style: italic;
           font-weight: bold;
       }

    article {   
        float: left;
        width: 60%;
    }
        
        h1 {
            font-size: 2em;
            text-align: center;
        }

        p, li {
            font-size: 1.2em;
        }